In [82]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/anaconda3/lib/python3.11/site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [83]:
pip install mysql.connector

Requirement already satisfied: mysql.connector in /opt/anaconda3/lib/python3.11/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [85]:
print()
print("Create Connection")
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Ipsita1819")
print(mydb)

Create Connection
<mysql.connector.connection_cext.CMySQLConnection object at 0x17712f9d0>

In [86]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Bepec_db")

In [87]:
mycursor.execute("USE Bepec_db")

In [88]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [89]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.11/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [90]:
from sqlalchemy import create_engine
import pandas as pd

In [91]:
engine = create_engine('mysql+pymysql://root:Ipsita1819@localhost:3306/Bepec_db', pool_size=10, max_overflow=20)

In [92]:
import os
print(os.getcwd())
os.chdir('/Users/kumarabhishekrana/bepec/ML')

/Users/kumarabhishekrana/bepec/ML

In [93]:
import pandas as pd

In [94]:
pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [95]:
file = 'INX_employee.xlsx'        
df = pd.read_excel(file)

In [96]:
df.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

In [98]:
df.to_sql('Employee', con = engine ,if_exists='append',chunksize=1000)

1200